My solutions for the programming contest website Kattis : open.kattis.com

Some solutions may be my team's solution submitted under my account, I try to credit them with a comment in the header whenever possible.
